<div class="card" style="width: 18rem;">
    <div class="card-header"> {{book.title}} </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Author: {{book.author}}</li>
        <li class="list-group-item">Category: {{book.category.name}}</li>
        <li class="list-group-item">Price: {{book.price}} RSD</li>
        <li class="list-group-item">Quanity: {{book.quantity}} </li>
        <li class="list-group-item"><input type="number" value = 0></li>
        <li class="list-group-item"> <button type="button" class="btn btn-primary">Add to cart</button>  </li>
        <li class="list-group-item"> <button type="button" class="btn btn-success">Buy Now</button> </li>
    </ul>
</div>