


<div class="jumbotron">
  <p class="lead"></p>
  <div>
  <h4 class="display-6">Categories</h4>
  <button class="btn btn-outline-info" (click)="addCategory()" type="button">New Category</button>
  <hr class="my-4">
  </div>
</div>

<table class="table table-condensed">
  <thead  class="thead-dark">
    <th></th>
    <th style="width: 5px;"> Category name</th>
   <!-- <th>Options<th> -->
     <th></th>
  </thead>
  <tr *ngFor='let category of categories; index as i '>
    <td style="width: 50px;">{{i + 1}}</td>
    <td style="width: 200px;">{{ category.name }}</td>
    <!--td>
     <button class="btn btn-outline-info" style = "margin-right: 10px" (click)="navigateToUpdate()">Update</button>
   
      <button class="btn btn-outline-danger" (click)="deleteCategory()">Delete</button>
    </td>-->
  </tr>
</table>